*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
}
.Recuadre {
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 100%;
    border-bottom: red solid;
}

.cara-1 .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
    

    
        .cara-3 .punt:nth-child(2) {
            align-self: center;
        }
    
        .cara-3 .punt:nth-child(3) {
            align-self: flex-end;
            justify-self: flex-end;
        }
    

    
        .cara-4 .columna {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

                
    .cara-6 .columna {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
        .cara-6 .columna:nth-child(2) {
        justify-content: center;
        }
    .cara-6 .columna .punt img {
        display: flex;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        }
    .cara-6 .columna .numero {
    background-image: url(homer-2.png);
    width: 50px;
    height: 50px; 
    padding: 20px; 
                                                            
    }

.Formulari {
    width: 100%;
    height: 100%;
    background-color: rgb(146, 139, 139);
    color: red;
    border: 20px;
    padding: 20px;
    border-bottom: rgb(0, 55, 255) thin solid;
}
.Formulari input {
    width: 70%;
    background-color: transparent;
    margin: auto;
    margin-bottom: 2rem;
    outline: none;
    text-align: center;
}
.Formulari input[type="checkbox"] {
   width: 70%;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 9rem;
}
