* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Practiques-ASIX/LMSG/Formulari/Imatges/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f4f4f4;
}
.Formulari {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}



.Formulari input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: rgb(10, 197, 38);

}


.Formulari input[type="checkbox"] {
        display: block;
        margin: auto;
        margin-bottom: 2rem;
        font-size: .9rem;
}

.Formulari select {
            width: 70%;
            display: block;
            margin: auto;
            margin-bottom: 2rem;
            background-color: transparent;
            border: none;
            border-bottom: rgb(224, 224, 224) thin solid;
            text-align: center;
            outline: none;
            padding: .2rem 0;
            font-size: .9rem;
            color: rgb(16, 187, 0);
}
.Formulari textarea {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}
.Formulari input[type="submit"] {
        width: 70%;
        display: block;
        margin: auto;
        margin-bottom: 2rem;
        background-color: rgb(183, 206, 120);
        border: none;
        border-bottom: white thin solid;
        text-align: center;
        outline: none;
        padding: .2rem 0;
        font-size: .9rem;
        color: rgb(255, 255, 255);
}
.Formulari input[type="reset"] {
        width: 70%;
        display: block;
        margin: auto;
        margin-bottom: 2rem;
        background-color:rgb(183, 206, 120);
        border: none;
        border-bottom: white thin solid;
        text-align: center;
        outline: none;
        padding: .2rem 0;
        font-size: .9rem;
        color: rgb(255, 255, 255);
}
.Formulari input:required {
    border: 1px solid rgb(252, 248, 27);
}

.Formulari input:valid {
    border: 1px solid rgb(247, 247, 247);
}

.Formulari input:invalid {
    border: 1px solid red;
}

.Formulari input:required:valid {
    border: 1px solid rgb(0, 249, 129);
}

.Formulari input:invalid:focus {
    background-color: pink;
}
